* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  margin: 20px auto;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 8px;
}

label,
p,
input,
button {
  font-size: 1.1rem;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin: 2rem auto;
}

form,
section {
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  width: max-content;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form input {
  width: 20rem;
}

section {
  margin-top: 2rem;
  display: none;
}
